* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

:root {

    /* Color */
    --color-text: #BDBDBD;
    --color-blue-dark: #283046;
    --color-blue-darken: #161D31;
    --color-purple-light: #9E8CFC;
    --color-red: #EA5455;
    --color-green: #6FCF97;
    --color-yellow: #F2C94C;
    --color-noty: #4F4F4F;
    /* Font-fam*/
    --main-font: 'Montserrat', sans-serif;

    /* Font-size */
    --noty-font: 700 12px/15px var(--main-font);
    --text-font: 400 14px/17px var(--main-font);
}

/* main */

.wrapper {
    display: flex;
    flex-direction: row;
}

.aside {
    background-color: var(--color-blue-dark);
    width: 80px;
    height: 100vh;
}

.main {
    background-color: var(--color-blue-darken);
    width: 100%;
    height: 100vh;
}

.icon {
    width: 32px;
    height: 32px;
    margin-bottom: 11px;
}

.line {
    width: 40px;
    height: 0px;
    border: 4px dashed var(--color-purple-light);
    margin-bottom: 44px;

}

.icon-title {
    color: var(--color-text);
    display: none;
}

.aside__icon-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
}

.aside:hover {
    width: 200px;
    cursor: pointer;
}

.aside:hover .icon-title {
    display: block;
}

.aside__dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
}

.aside__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.aside__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

.aside__item:hover {
    background-color: var(--color-purple-light);
}