/* Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Global end */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-date: #E0E0E0;


    /*fonts*/

    --main-fonts: "Roboto", sans-serif;
    --title-fonts: "Delius Unicase", sans-serif;

    /*fonts size*/

    --name-fonts: 500 20px/23px var(--main-fonts);
    --heading-fonts: 400 36px/45px var(--title-fonts);
    --date-fonts: 400 20px/23px var(--main-fonts);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: var(--color-black);
    font: var(--heading-fonts);
    text-align: center;
    letter-spacing: 0.05em;
    margin: 120px auto 80px;
}

.img {
    border-radius: 20px;
    object-fit: cover;
}

.down {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    padding: 4px;
    min-width: 30px;
    min-height: 30px;
    background-color: gray;
    opacity: 0.4;
    border-radius: 8px;
    visibility: hidden;
}

.like {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: gray;
    opacity: 0.6;
    border-radius: 8px;
    visibility: hidden;
}

.item-container:hover .like {
    visibility: visible;
}

.item-container:hover .down {
    visibility: visible;
}

.like:hover {
    opacity: 1;
    background: #fff;
    cursor: pointer;
}

.down:hover {
    opacity: 1;
    background: #fff;
    cursor: pointer;
}

.hero-name {
    color: var(--color-white);
    font: var(--name-fonts);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    visibility: hidden;
}

.photo-date {
    color: var(--color-date);
    font: var(--date-fonts);
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    visibility: hidden;
}

.item-container:hover .hero-name {
    visibility: visible;
}

.item-container:hover .photo-date {
    visibility: visible;
}


.item-container {
    position: relative;
    overflow: hidden;
}

.item-container::after {
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7875525210084033) 71%);
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    visibility: hidden;
}

.item-container:hover:after {
    visibility: visible;
}

/* Cities */

.content-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 30px;
}

.item-container-1:nth-child(2) {
    grid-column: 2 / 4;
}

.item-container-1:nth-child(3) {
    grid-column: 1 / 3;
}

.item-container-1:nth-child(6) {
    grid-column: 2 / 4;
}

/* Cities end */

/* Nature */
.content-container--v2 {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "i1 i2 i2"
        "i3 i3 i4"
        "i5 i5 i6";
}

.i1 {
    grid-area: i1;
}

.i2 {
    grid-area: i2;
}

.i3 {
    grid-area: i3;
}

.i4 {
    grid-area: i4;
}

.i5 {
    grid-area: i5;
}

.i6 {
    grid-area: i6;
}

/* Nature end */

.content-container--v3 {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "a1 a2 a3"
        "a4 a2 a5"
        "a6 a7 a5"
        "a6 a8 a8"
        "a9 a9 a10"
    ;
    margin-bottom: 120px;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

.a5 {
    grid-area: a5;
}

.a6 {
    grid-area: a6;
}

.a7 {
    grid-area: a7;
}

.a8 {
    grid-area: a8;
}

.a9 {
    grid-area: a9;
}

.a10 {
    grid-area: a10;
}